.buttons:hover{
    -fx-background-color: linear-gradient(to bottom right,#f8ae5e,#ff9621 );
    -fx-cursor: hand;
}
.gradient{
    -fx-background-color: linear-gradient(to bottom right,#ff9621, #f8ae5e );
}
.orange{
    -fx-background-color:#f8ae5e;
}
.transparentBtn{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.gray{
    -fx-background-color:#808080;
}
.desc{
    -fx-font-size: 16px; -fx-font-family: 'BebasNeueBold';

}
.title{
    -fx-font-size: 20px; -fx-font-family: 'BebasNeueBold';
}
